@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* firfox */

  text-align: center;
}

html::-webkit-scrollbar {
  display: none;
}

:root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }