@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 1px;
  margin: 1px;
  color: white;
  background-color: black;

  border: .5px solid white;
}

:root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }